<h3>Production Schedules</h3>
<table class="table table-striped">
  <thead>
    <th>Production Period</th>
    <th>Total Output</th>
  </thead>
  <tbody>
    <% @production_schedules.each do |schedule| %>
      <tr>
        <td><%= link_to "#{schedule.starting_date.to_formatted_s(:db)} - #{schedule.starting_date.at_end_of_week.to_formatted_s(:db)}", production_schedule_path(schedule) %></td>
        <td><%= schedule.total_output %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "links">
  <span class="label label-info"><%= link_to 'Create New Production Schedule', new_production_schedule_path %></span>
</div>
