<h3>Production Schedules</h3>
<table class="table table-striped">
  <thead>
    <th>Production Period</th>
    <th>Total Output (lbs)</th>
  </thead>
  <tbody>
    <% @production_schedules.each do |schedule| %>
      <tr>
        <td><%= link_to "#{schedule.to_s}", production_schedule_path(schedule) %></td>
        <td><%=  number_with_precision(schedule.total_output, precision: 2, strip_insignificant_zeros: true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "links">
  <span class="label label-info"><%= link_to 'Create New Production Schedule', new_production_schedule_path %></span>
</div>
