<h3>Recipes</h3>
<table class='table table-striped'>
  <thead>
    <th>flavor</th>
    <th>last made</th>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe_path(recipe) %></td>
        <td><%= link_to recipe.most_recent_production_date.starting_date.to_formatted_s(:db), production_schedule_path(recipe.most_recent_production_date) if recipe.most_recent_production_date.present?%></td>
        </tr>
    <% end %>
</table>
<div class= "links">
  <span class="label label-info"><%= link_to 'Create New Recipe', new_recipe_path %></span>
</div>


