@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
}

textarea {
  width: 295px;
  height: 120px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.table {
  width: 500px;
  margin: 0 auto;
}

.nav {
  background: #262662
}

.right {
  float: right !important;
}

.login {
  padding-top: 6.5px;
  color: white;
}

.unit {
  padding: 0 10px 0 5px;
  color: gray;
}

.add-line {
  margin-bottom: 30px;
}

.sub-form-headers {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
}

.links {
  text-align: center;
  margin-top: 40px;
}

.links a:link {
  color: white;
}

.links a:visited {
  color: white;
}

.quantity {
  width: 50px;
}

.recipe-ingredient-label {
  margin-left: 55px;
}

.production-schedule-item-label {
  margin-left: 98px;
}

.inventory-item-label {
  margin-left: 65px;
}

.recipe-form {
  margin-left: 42%;
}

.production-form {
  margin-left: 45%;
}

.inventory-form {
  margin-left: 45%;
}

.sub-form {
  margin-left: -15px;
}

.nested-fields {
  margin-left: -40px;
  margin-bottom: 15px;
}

.history {
  margin-left: 40%;
}

.edit-account {
  margin-left: 35%;
}

.sign-in {
  margin-left: 44%;
}

.sign-up {
  margin-left: 44%
}
